img {
  max-width: 100%;
}

body {
  position: relative;
  min-height: 100vh;

  background-color: rgb(231, 231, 231);
}

footer {
  background-color: rgb(36, 36, 36);
  text-align: center;
}

footer p {
  color: white;
  padding: 30px;
}

.card {
  width: 600px;
}

.btn {
  background-color: rgb(255, 174, 0);
  color: white;
  border-radius: 0;
}

.page-container {
  min-height: 100vh;
}

.bg-orange {
  background-color: rgb(223, 134, 2);
}
.bg-lightblue {
  background-color: rgb(112, 143, 153);
}

.badge {
  margin-right: 1rem;
  font-size: 1.2rem;
}
